<plugin name='ntlm-auth' version='0.6' grailsVersion='1.1 &gt; *'>
  <author>Dinko Srkoč</author>
  <authorEmail>dinko.srkoc@helix.hr</authorEmail>
  <title>NTLM HTTP Authentication</title>
  <description>\
Simple NTLMv1 authentication using jCIFS library/filter.
See http://jcifs.samba.org for more info.
</description>
  <documentation>http://grails.org/NtlmAuth+Plugin</documentation>
  <resources>
    <resource>SampleNtlmAuthConfig</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>